<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studies</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/studies.css">
</head>
<body>
    <div class="container">
        <h1>Estudos:</h1>
        <a href="/studies/create" class="create-study-btn">CRIAR NOVO ESTUDO</a>
        <div class="studies-list" id="studies-list"></div>
    </div>
    <script src="/js/studies.js"></script>
</body>
</html>