<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/view.css">
    <title>Estudo de Estabilidade</title>
</head>

<body>
    <div class="stabilitystudies">
        <h1>ESTUDO DE ESTABILIDADE</h1>
        <p><strong>Produto:</strong> <span id="product"></span></p>
        <p><strong>Lote:</strong> <span id="lot"></span></p>
        <p><strong>Natureza:</strong> <span id="nature"></span></p>

        <div>
            <div class="leituraInicial">Leitura Inicial</div>
            <section class="initialReading grid-inital-reading">
                <div class="item Data">Data</div>
                <div class="item DataValue"><span id="startDate"></span></div>
                <div class="item Aspecto">Aspecto</div>
                <div class="item AspectoValue"><span id="aspect"></span></div>
                <div class="item Cor">Cor</div>
                <div class="item CorValue"><span id="color"></span></div>
                <div class="item Odor">Odor</div>
                <div class="item OdorValue"><span id="odor"></span></div>
                <div class="item pH">pH</div>
                <div class="item pHValue"><span id="pH"></span></div>
                <div class="item Viscosidade">Viscosidade</div>
                <div class="item ViscosidadeValue"><span id="viscosity"></span></div>
            </section>
        </div>
        <div>
            <div class="legenda">Legenda</div>
            <section class="legendaGrid grid-legenda">
                <div class="item IN">IN</div>
                <div class="item inalterado">INALTERADO</div>
                <div class="item LA">LA</div>
                <div class="item levementeAlterado">LEVEMENTE ALTERADO</div>
                <div class="item A">A</div>
                <div class="item alteracao">ALTERAÇÃO</div>
            </section>
        </div>
        <div>
            <div class="luzSolarTitle">Luz Solar</div>
            <div class="grid-luz-solar">
                <div class="item leitura">Leitura</div>
                <div class="item seteDias">7 dias</div>
                <div class="item quinzeDias">15 dias</div>
                <div class="item trintaDias">30 dias</div>
                <div class="item sessentaDias">60 dias</div>
                <div class="item noventaDias">90 dias</div>
                <div class="item dataLuzSolar">Data</div>
                <div class="item dataLuzSolarValueSeteDias"><span id="dataLuzSolarSeteDias"></span></div>
                <div class="item dataLuzSolarValueQuinzeDias"><span id="dataLuzSolarQuinzeDias"></span></div>
                <div class="item dataLuzSolarValueTrintaDias"><span id="dataLuzSolarTrintaDias"></span></div>
                <div class="item dataLuzSolarValueSessentaDias"><span id="dataLuzSolarSessentaDias"></span></div>
                <div class="item dataLuzSolarValuenoventaDias"><span id="dataLuzSolarNoventaDias"></span></div>
                <div class="item aspectoLuzSolar">Aspecto</div>
                <div class="item aspectoLuzSolarValueSeteDias"><span id="aspectoLuzSolarSeteDias"></span></div>
                <div class="item aspectoLuzSolarValueQuinzeDias"><span id="aspectoLuzSolarQuinzeDias"></span></div>
                <div class="item aspectoLuzSolarValueTrintaDias"><span id="aspectoLuzSolarTrintaDias"></span></div>
                <div class="item aspectoLuzSolarValueSessentaDias"><span id="aspectoLuzSolarSessentaDias"></span></div>
                <div class="item aspectoLuzSolarValueNoventaDias"><span id="aspectoLuzSolarNoventaDias"></span></div>
                <div class="item corLuzSolar">Cor</div>
                <div class="item corLuzSolarValueSeteDias"><span id="corLuzSolarSeteDias"></span></div>
                <div class="item corLuzSolarValueQuinzeDias"><span id="corLuzSolarQuinzeDias"></span></div>
                <div class="item corLuzSolarValueTrintaDias"><span id="corLuzSolarTrintaDias"></span></div>
                <div class="item corLuzSolarValueSessentaDias"><span id="corLuzSolarSessentaDias"></span></div>
                <div class="item corLuzSolarValueNoventaDias"><span id="corLuzSolarNoventaDias"></span></div>
                <div class="item odorLuzSolar">Odor</div>
                <div class="item odorLuzSolarValueSeteDias"><span id="odorLuzSolarSeteDias"></span></div>
                <div class="item odorLuzSolarValueQuinzeDias"><span id="odorLuzSolarQuinzeDias"></span></div>
                <div class="item odorLuzSolarValueTrintaDias"><span id="odorLuzSolarTrintaDias"></span></div>
                <div class="item odorLuzSolarValueSessentaDias"><span id="odorLuzSolarSessentaDias"></span></div>
                <div class="item odorLuzSolarValueNoventaDias"><span id="odorLuzSolarNoventaDias"></span></div>
                <div class="item pHLuzSolar">pH</div>
                <div class="item pHLuzSolarValueSeteDias"><span id="pHLuzSolarSeteDias"></span></div>
                <div class="item pHLuzSolarValueQuinzeDias"><span id="pHLuzSolarQuinzeDias"></span></div>
                <div class="item pHLuzSolarValueTrintaDias"><span id="pHLuzSolarTrintaDias"></span></div>
                <div class="item pHLuzSolarValueSessentaDias"><span id="pHLuzSolarSessentaDias"></span></div>
                <div class="item pHLuzSolarValueNoventaDias"><span id="pHLuzSolarNoventaDias"></span></div>
                <div class="item viscosidadeLuzSolar">Viscosidade</div>
                <div class="item viscosidadeLuzSolarValueSeteDias"><span id="viscosidadeLuzSolarSeteDias"></span></div>
                <div class="item viscosidadeLuzSolarValueQuinzeDias"><span id="viscosidadeLuzSolarQuinzeDias"></span></div>
                <div class="item viscosidadeLuzSolarValueTrintaDias"><span id="viscosidadeLuzSolarTrintaDias"></span></div>
                <div class="item viscosidadeLuzSolarValueSessentaDias"><span id="viscosidadeLuzSolarSessentaDias"></span></div>
                <div class="item viscosidadeLuzSolarValueNoventaDias"><span id="viscosidadeLuzSolarNoventaDias"></span></div>
            </div>
        </div>
        <div>
            <div class="escuroTitle">Escuro</div>
            <div class="grid-escuro">
                <div class="item dataEscuro">Data</div>
                <div class="item dataEscuroValueSeteDias" id="dataEscuroSeteDias"><span></span></div>
                <div class="item dataEscuroValueQuinzeDias" id="dataEscuroQuinzeDias"><span></span></div>
                <div class="item dataEscuroValueTrintaDias" id="dataEscuroTrintaDias"><span></span></div>
                <div class="item dataEscuroValueSessentaDias" id="dataEscuroSessentaDias"><span></span></div>
                <div class="item dataEscuroValueNoventaDias" id="dataEscuroNoventaDias"><span></span></div>
                
                <div class="item aspectoEscuro">Aspecto</div>
                <div class="item aspectoEscuroValueSeteDias" id="aspectoEscuroSeteDias"><span></span></div>
                <div class="item aspectoEscuroValueQuinzeDias" id="aspectoEscuroQuinzeDias"><span></span></div>
                <div class="item aspectoEscuroValueTrintaDias" id="aspectoEscuroTrintaDias"><span></span></div>
                <div class="item aspectoEscuroValueSessentaDias" id="aspectoEscuroSessentaDias"><span></span></div>
                <div class="item aspectoEscuroValueNoventaDias" id="aspectoEscuroNoventaDias"><span></span></div>
                
                <div class="item corEscuro">Cor</div>
                <div class="item corEscuroValueSeteDias" id="corEscuroSeteDias"><span></span></div>
                <div class="item corEscuroValueQuinzeDias" id="corEscuroQuinzeDias"><span></span></div>
                <div class="item corEscuroValueTrintaDias" id="corEscuroTrintaDias"><span></span></div>
                <div class="item corEscuroValueSessentaDias" id="corEscuroSessentaDias"><span></span></div>
                <div class="item corEscuroValueNoventaDias" id="corEscuroNoventaDias"><span></span></div>
                
                <div class="item odorEscuro">Odor</div>
                <div class="item odorEscuroValueSeteDias" id="odorEscuroSeteDias"><span></span></div>
                <div class="item odorEscuroValueQuinzeDias" id="odorEscuroQuinzeDias"><span></span></div>
                <div class="item odorEscuroValueTrintaDias" id="odorEscuroTrintaDias"><span></span></div>
                <div class="item odorEscuroValueSessentaDias" id="odorEscuroSessentaDias"><span></span></div>
                <div class="item odorEscuroValueNoventaDias" id="odorEscuroNoventaDias"><span></span></div>
                
                <div class="item pHEscuro">pH</div>
                <div class="item pHEscuroValueSeteDias" id="pHEscuroSeteDias"><span></span></div>
                <div class="item pHEscuroValueQuinzeDias" id="pHEscuroQuinzeDias"><span></span></div>
                <div class="item pHEscuroValueTrintaDias" id="pHEscuroTrintaDias"><span></span></div>
                <div class="item pHEscuroValueSessentaDias" id="pHEscuroSessentaDias"><span></span></div>
                <div class="item pHEscuroValueNoventaDias" id="pHEscuroNoventaDias"><span></span></div>
                
                <div class="item viscosidadeEscuro">Viscosidade</div>
                <div class="item viscosidadeEscuroValueSeteDias" id="viscosidadeEscuroSeteDias"><span></span></div>
                <div class="item viscosidadeEscuroValueQuinzeDias" id="viscosidadeEscuroQuinzeDias"><span></span></div>
                <div class="item viscosidadeEscuroValueTrintaDias" id="viscosidadeEscuroTrintaDias"><span></span></div>
                <div class="item viscosidadeEscuroValueSessentaDias" id="viscosidadeEscuroSessentaDias"><span></span></div>
                <div class="item viscosidadeEscuroValueNoventaDias" id="viscosidadeEscuroNoventaDias"><span></span></div>
            </div>
        </div>
        
        <div>
            <div class="geladeiraTitle">Geladeira</div>
            <div class="grid-geladeira">
        
                <div class="item dataGeladeira">Data</div>
                <div class="item dataGeladeiraValueSeteDias" id="dataGeladeiraSeteDias"><span></span></div>
                <div class="item dataGeladeiraValueQuinzeDias" id="dataGeladeiraQuinzeDias"><span></span></div>
                <div class="item dataGeladeiraValueTrintaDias" id="dataGeladeiraTrintaDias"><span></span></div>
                <div class="item dataGeladeiraValueSessentaDias" id="dataGeladeiraSessentaDias"><span></span></div>
                <div class="item dataGeladeiraValueNoventaDias" id="dataGeladeiraNoventaDias"><span></span></div>
        
                <div class="item aspectoGeladeira">Aspecto</div>
                <div class="item aspectoGeladeiraValueSeteDias" id="aspectoGeladeiraSeteDias"><span></span></div>
                <div class="item aspectoGeladeiraValueQuinzeDias" id="aspectoGeladeiraQuinzeDias"><span></span></div>
                <div class="item aspectoGeladeiraValueTrintaDias" id="aspectoGeladeiraTrintaDias"><span></span></div>
                <div class="item aspectoGeladeiraValueSessentaDias" id="aspectoGeladeiraSessentaDias"><span></span></div>
                <div class="item aspectoGeladeiraValueNoventaDias" id="aspectoGeladeiraNoventaDias"><span></span></div>
        
                <div class="item corGeladeira">Cor</div>
                <div class="item corGeladeiraValueSeteDias" id="corGeladeiraSeteDias"><span></span></div>
                <div class="item corGeladeiraValueQuinzeDias" id="corGeladeiraQuinzeDias"><span></span></div>
                <div class="item corGeladeiraValueTrintaDias" id="corGeladeiraTrintaDias"><span></span></div>
                <div class="item corGeladeiraValueSessentaDias" id="corGeladeiraSessentaDias"><span></span></div>
                <div class="item corGeladeiraValueNoventaDias" id="corGeladeiraNoventaDias"><span></span></div>
        
                <div class="item odorGeladeira">Odor</div>
                <div class="item odorGeladeiraValueSeteDias" id="odorGeladeiraSeteDias"><span></span></div>
                <div class="item odorGeladeiraValueQuinzeDias" id="odorGeladeiraQuinzeDias"><span></span></div>
                <div class="item odorGeladeiraValueTrintaDias" id="odorGeladeiraTrintaDias"><span></span></div>
                <div class="item odorGeladeiraValueSessentaDias" id="odorGeladeiraSessentaDias"><span></span></div>
                <div class="item odorGeladeiraValueNoventaDias" id="odorGeladeiraNoventaDias"><span></span></div>
        
                <div class="item pHGeladeira">pH</div>
                <div class="item pHGeladeiraValueSeteDias" id="pHGeladeiraSeteDias"><span></span></div>
                <div class="item pHGeladeiraValueQuinzeDias" id="pHGeladeiraQuinzeDias"><span></span></div>
                <div class="item pHGeladeiraValueTrintaDias" id="pHGeladeiraTrintaDias"><span></span></div>
                <div class="item pHGeladeiraValueSessentaDias" id="pHGeladeiraSessentaDias"><span></span></div>
                <div class="item pHGeladeiraValueNoventaDias" id="pHGeladeiraNoventaDias"><span></span></div>
        
                <div class="item viscosidadeGeladeira">Viscosidade</div>
                <div class="item viscosidadeGeladeiraValueSeteDias" id="viscosidadeGeladeiraSeteDias"><span></span></div>
                <div class="item viscosidadeGeladeiraValueQuinzeDias" id="viscosidadeGeladeiraQuinzeDias"><span></span></div>
                <div class="item viscosidadeGeladeiraValueTrintaDias" id="viscosidadeGeladeiraTrintaDias"><span></span></div>
                <div class="item viscosidadeGeladeiraValueSessentaDias" id="viscosidadeGeladeiraSessentaDias"><span></span></div>
                <div class="item viscosidadeGeladeiraValueNoventaDias" id="viscosidadeGeladeiraNoventaDias"><span></span></div>
            </div>
        </div>
        
        <div>
            <div class="estufaTitle">Estufa</div>
            <div class="grid-estufa">
                <div class="item dataEstufa">Data</div>
                <div class="item dataEstufaValueSeteDias" id="dataEstufaSeteDias"><span></span></div>
                <div class="item dataEstufaValueQuinzeDias" id="dataEstufaQuinzeDias"><span></span></div>
                <div class="item dataEstufaValueTrintaDias" id="dataEstufaTrintaDias"><span></span></div>
                <div class="item dataEstufaValueSessentaDias" id="dataEstufaSessentaDias"><span></span></div>
                <div class="item dataEstufaValueNoventaDias" id="dataEstufaNoventaDias"><span></span></div>
        
                <div class="item aspectoEstufa">Aspecto</div>
                <div class="item aspectoEstufaValueSeteDias" id="aspectoEstufaSeteDias"><span></span></div>
                <div class="item aspectoEstufaValueQuinzeDias" id="aspectoEstufaQuinzeDias"><span></span></div>
                <div class="item aspectoEstufaValueTrintaDias" id="aspectoEstufaTrintaDias"><span></span></div>
                <div class="item aspectoEstufaValueSessentaDias" id="aspectoEstufaSessentaDias"><span></span></div>
                <div class="item aspectoEstufaValueNoventaDias" id="aspectoEstufaNoventaDias"><span></span></div>
        
                <div class="item corEstufa">Cor</div>
                <div class="item corEstufaValueSeteDias" id="corEstufaSeteDias"><span></span></div>
                <div class="item corEstufaValueQuinzeDias" id="corEstufaQuinzeDias"><span></span></div>
                <div class="item corEstufaValueTrintaDias" id="corEstufaTrintaDias"><span></span></div>
                <div class="item corEstufaValueSessentaDias" id="corEstufaSessentaDias"><span></span></div>
                <div class="item corEstufaValueNoventaDias" id="corEstufaNoventaDias"><span></span></div>
        
                <div class="item odorEstufa">Odor</div>
                <div class="item odorEstufaValueSeteDias" id="odorEstufaSeteDias"><span></span></div>
                <div class="item odorEstufaValueQuinzeDias" id="odorEstufaQuinzeDias"><span></span></div>
                <div class="item odorEstufaValueTrintaDias" id="odorEstufaTrintaDias"><span></span></div>
                <div class="item odorEstufaValueSessentaDias" id="odorEstufaSessentaDias"><span></span></div>
                <div class="item odorEstufaValueNoventaDias" id="odorEstufaNoventaDias"><span></span></div>
        
                <div class="item pHEstufa">pH</div>
                <div class="item pHEstufaValueSeteDias" id="pHEstufaSeteDias"><span></span></div>
                <div class="item pHEstufaValueQuinzeDias" id="pHEstufaQuinzeDias"><span></span></div>
                <div class="item pHEstufaValueTrintaDias" id="pHEstufaTrintaDias"><span></span></div>
                <div class="item pHEstufaValueSessentaDias" id="pHEstufaSessentaDias"><span></span></div>
                <div class="item pHEstufaValueNoventaDias" id="pHEstufaNoventaDias"><span></span></div>
        
                <div class="item viscosidadeEstufa">Viscosidade</div>
                <div class="item viscosidadeEstufaValueSeteDias" id="viscosidadeEstufaSeteDias"><span></span></div>
                <div class="item viscosidadeEstufaValueQuinzeDias" id="viscosidadeEstufaQuinzeDias"><span></span></div>
                <div class="item viscosidadeEstufaValueTrintaDias" id="viscosidadeEstufaTrintaDias"><span></span></div>
                <div class="item viscosidadeEstufaValueSessentaDias" id="viscosidadeEstufaSessentaDias"><span></span></div>
                <div class="item viscosidadeEstufaValueNoventaDias" id="viscosidadeEstufaNoventaDias"><span></span></div>
            </div>
        </div>
        
    </div>


    <script src="/js/view.js"></script>
</body>

</html>